

<router-outlet></router-outlet>

  <div class="wrapper">
      <div class="sidebar-wrapper">
          <div class="profile-container">
              <img class="profile" src="assets/images/profile.jpg" alt="" />
              <h1 class="name">Ramon Diaz</h1>
              <h3 class="tagline">Web Developer</h3>
          </div><!--//profile-container-->

          <div class="contact-container container-block">
              <ul class="list-unstyled contact-list">
                  <li class="email"><i class="fas fa-envelope"></i><a href="mailto: ramndiaz@gmail.com">ramndiaz@gmail.com</a></li>
                  <li class="phone"><i class="fas fa-phone"></i><a href="tel:908 727 2375">809 727 2375</a></li>
                  <!-- <li class="website"><i class="fas fa-globe"></i><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank">portfoliosite.com</a></li> -->
                  <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/ramón-díaz-0810b14a" target="_blank">linkedin.com/ramon-diaz</a></li>
                  <li class="github"><i class="fab fa-github"></i><a href="https://www.github.com/ramndiaz" target="_blank">github.com/ramndiaz</a></li>
                  <li class="twitter"><i class="fab fa-twitter"></i><a href="https://twitter.com/ramndiazgz" target="_blank">@ramndiazgz</a></li>
              </ul>
          </div><!--//contact-container-->
          <div class="education-container container-block">
              <h2 class="container-block-title">Education</h2>
              <div class="item">
                  <h4 class="degree">Degree in Computer Science</h4>
                  <h5 class="meta">Unicaribe</h5>
                    <div class="time">2012 - 2018</div>
              </div><!--//item-->
              <div class="item">
                  <h4 class="degree">Java Developer</h4>
                  <h4 class="degree">PHP Developer</h4>
                  <h4 class="degree">Oracle DBA</h4>
                  <h4 class="degree">A+</h4>
                  <h5 class="meta">ITLA</h5>
                  <div class="time">2010 - 2012</div>
              </div><!--//item-->
          </div><!--//education-container-->

          <div class="languages-container container-block">
              <h2 class="container-block-title">Languages</h2>
              <ul class="list-unstyled interests-list">
                  <li>Spanish <span class="lang-desc">(Native)</span></li>
                  <li>English <span class="lang-desc">(intermediate)</span></li>
              </ul>
          </div><!--//interests-->

          <div class="interests-container container-block">
              <h2 class="container-block-title">Interests</h2>
              <ul class="list-unstyled interests-list">
                  <li>Motoring</li>
                  <li>History</li>
                  <li>Cooking</li>
              </ul>
          </div><!--//interests-->

      </div><!--//sidebar-wrapper-->

      <div class="main-wrapper">

          <section class="section summary-section">
              <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
              <div class="summary">
                  <p> During my professional training I have managed to acquire a series of skills complete, including close collaboration and problem solving. I consider prepared in the frondend areas to fulfill the assigned jobs</p>
              </div><!--//summary-->
          </section><!--//section-->

          <section class="section experiences-section">
              <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>

              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Sales Representative</h3>
                          <div class="time">2011 - 2019</div>
                      </div><!--//upper-row-->
                      <div class="company"> Claro Codetel, Dominican Republic </div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>In charge of managing and formalizing new clients in the portfolio of iptv, claro tv, fixed and mobile telephone lines, as well as monitoring the needs of assigned clients.</p>
                  </div><!--//details-->
              </div><!--//item-->

              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                        <h3 class="job-title">Technical Services</h3>
                          <h3 class="job-title">Group Leader Services</h3>
                          <div class="time">2001 - 2009</div>
                      </div><!--//upper-row-->
                      <div class="company">Fondeur ElectroSystems</div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>as a technical installation and maintenance of voltage inverters, automatic doors and garage doors and as a group leader in charge of complying with company policies in relation to facilities and technical visits to clients.</p>

                  </div><!--//details-->
              </div><!--//item-->

              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">Freelancer Developer</h3>
                          <div class="time">2016 - 2021</div>
                      </div><!--//upper-row-->
                      <div class="company"></div>
                  </div><!--//meta-->
                  <div class="details">
                      <p>occasionally development of personal websites, desktop applications for companies and personal websites. tools such as PHP, JAVA, Visual Studio were used on the desktop, among others, on the web initially html, a little css and php, currently the websites are built in angular cli and the back end with firebase, nodejs and occasionally java and spring.</p>
                  </div><!--//details-->
              </div><!--//item-->

          </section><!--//section-->

          <section class="section projects-section">
              <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
              <div class="intro">
                  <p>projects I have worked on or am currently working on. Please bear in mind that some may be incomplete or in an initial stage.</p>
              </div><!--//intro-->
              <div class="item">
                  <span class="project-title"><a href="https://github.com/ramndiaz/mujeresalvolante" target="_blank">Mujeres al Volante RD</a></span> - <span class="project-tagline">Foundation that from Santo Domingo Oeste helps unemployed women to get a driver's license and thus insert themselves into the labor market. Site built in angular.</span>

              </div><!--//item-->
              <div class="item">
                  <span class="project-title"><a href="https://github.com/ramndiaz/proyecto-wram-autoimport" target="_blank">Wram Auto Import</a></span> - <span class="project-tagline">desktop application built with c # in visual studio for a car dealer.</span>
              </div><!--//item-->
              <div class="item">
                  <span class="project-title"><a href="https://github.com/ramndiaz/oficinaricardodiaz" target="_blank">Grupo REDG</a></span> - <span class="project-tagline">Lawyers office dedicated to the resolution of legal matters in general. site built in angular.</span>
              </div><!--//item-->
              <div class="item">
                  <span class="project-title"><a href="https://github.com/ramndiaz/contacto" target="_blank">Contact Grupo REDG</a></span> - <span class="project-tagline">contact form in Nodejs and nodemailer for the Grupo REDG website.</span>
              </div><!--//item-->
          </section><!--//section-->

          <section class="skills-section section">
              <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
              <div class="skillset">
                  <div class="item">
                      <h3 class="level-title">Java</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->

                  <div class="item">
                    <h3 class="level-title">C#</h3>
                    <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
                </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">Javascript</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">Angular</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">HTML5 &amp; CSS</h3>
                      <div class="progress level-bar">
                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">Git</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->

                  <div class="item">
                      <h3 class="level-title">Bootstrap</h3>
                      <div class="progress level-bar">
              <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
                  </div><!--//item-->
                  <div class="item">
                    <h3 class="level-title">Firebase</h3>
                    <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
                </div><!--//item-->
                <div class="item">
                    <h3 class="level-title">MySql</h3>
                    <div class="progress level-bar">
            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 85%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
                </div><!--//item-->

              </div>
          </section><!--//skills-section-->

      </div><!--//main-body-->
  </div>

  <footer class="footer">
      <div class="text-center">
          <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
         
      </div><!--//container-->
  </footer><!--//footer-->